.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--black);
    font-family: poppins;
    color: var(--white);
    font-size: 1.4rem;
    width: 100%;
    border-top: 1px solid black;
}